{% extends 'base.html' %} {% block meta %}
<title>Registrasi Akun</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
/>
{% endblock meta %} {% block content %}  

<div class="w-100 vh-100 d-flex justify-content-center align-items-center">
    <div
      class="d-flex flex-column align-items-center rounded-4 bg-light p-4 shadow-lg"
    >
    <h1>Sign Up</h1>  
    <form method="POST" action="" class="d-flex flex-column"> 
            {% csrf_token %} 
            <table>
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}